<html>

<head>

<title>Assignment 3</title>

<link rel="stylesheet"
href="https://nah.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">

<script>
  window.watsonAssistantChatOptions = {
    integrationID: "2ca14a2f-6af5-47e8-98b1-c09145bbcd55", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "b97743bd-f4f0-4c94-a27c-a61549645d83", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

</head>

<body>
<center>
<h1 style= color:white> HOSPITAL PICTURES</h1><br><br>

<img src="https://nah.s3.jp-tok.cloud-object-storage.appdomain.cloud/hos1.png" width="300" height="300">

<img src="https://nah.s3.jp-tok.cloud-object-storage.appdomain.cloud/hos2.png" width="300" height="300"><br><br>

<img src="https://nah.s3.jp-tok.cloud-object-storage.appdomain.cloud/hos3.png" width="300" height="300">
<img src="https://nah.s3.jp-tok.cloud-object-storage.appdomain.cloud/hos4.jpg" width="300" height="300"><br><br>

<img src="https://nah.s3.jp-tok.cloud-object-storage.appdomain.cloud/hos5.png" width="300" height="300"><br>
</center>
</body>

</html>